.label-wrapper {
    font-size: .9rem;
    margin-bottom: .5rem;
    color: rgba(0, 0, 0, .9);
    font-weight: bold;
}
  
.optional-indicator {
    margin-left: .15rem;
    color: rgba(0, 0, 0, .5);
    font-size: .8rem;
    font-weight: normal,
}
  
.error-indicator {
    margin-left: .5rem;
    color: #f39c12;
    font-size: .8rem;
    font-weight: bold;
}