.character__card {
    display: grid;
    border-radius: .25rem;
    box-shadow: 0 0 2rem .5rem rgba(0, 0, 0, .1);
    background-color: var(--neutral);
    color: var(--tint);
}

.character__card:hover {
    cursor: pointer;
}

.character__card .card__image {
    overflow: hidden;
    border-radius: .25rem .25rem 0 0;
    aspect-ratio: 3 / 2;
}

.character__card .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character__card .card__content {
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
}

.character__card .card__content h3 {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.character__card .card__content p {
    margin: 0;
    color: var(--tint-500);
    font-size: .9rem;
}