.location-card {
    padding: 2.5rem 1rem 1.5rem;
    background-color: hsl(0 0% 100%);
    border: 1px solid hsl(0 0% 80%);
    display: grid;
    gap: .5rem;
    align-items: flex-start;
    text-align: center;
    line-height: 1;
    position: relative;
}

.location-card .location--name {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0;
}

.location-card .location--type {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: .25rem .5rem;
    background-color: var(--primary);
    color: var(--neutral);
    font-size: .75rem;
}

.location-card .location--dimension {
    font-size: 0.825rem;
    color: var(--tint-500);
}